@font-face {
  font-family: 'hackedregular';
  src: url('/webfontkit-20230323-131848/hacked-kerx-webfont.woff2') format('woff2'),
    url('./webfontkit-20230323-131848/hacked-kerx-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'glegacyregular';
  src: url('/Glitch/glegacy-webfont.woff2') format('woff2'),
    url('/Glitch/glegacy-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'hackedregular';
  background-color: #242424;
  background: url('ezgif.com-video-to-gif.gif') no-repeat;
  background-size: cover;
}


/* Loading */

#loading-screen {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100vh;
  width: 900px;
  margin: 0 auto;
  animation-name: loadingHide;
  animation-delay: 5.25s;
  animation-fill-mode: forwards;
  animation-duration: .75s;
  opacity: 1;
  /* background-color: #242424; */
}

@keyframes loadingHide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

#loading-screen .loading-bar {
  height: 34px;
  width: 900px;
  border: 2px #000 solid;
  margin: 1rem 0;
}

#loading-screen .loading-bar .loading-bar-progress {
  height: 100%;
  background-color: #20B14C;
  animation: progressBarFill 5s;
}

#loading-screen .loading-title {
  font-size: 3rem;
  user-select: none;
  display: flex;
}

#loading-screen .loading-point-1 {
  animation-name: loading-point-1;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  opacity: 0;
  /* margin-right: 4px; */
}

#loading-screen .loading-point-2 {
  animation-name: loading-point-2;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-delay: .25s;
  opacity: 0;
  /* margin-right: 4px; */
}

#loading-screen .loading-point-3 {
  animation-name: loading-point-3;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-delay: .5s;
  opacity: 0;
}

@keyframes progressBarFill {
  0% {
    width: 0;
  }

  50% {
    width: 70%;
  }

  75% {
    width: 90%;
  }

  100% {
    width: 100%;
  }
}

@keyframes loading-point-1 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes loading-point-2 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes loading-point-3 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.loading-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.2rem;
  color: #000 !important;
  text-decoration: none;
  animation-name: btnShow;
  animation-delay: 6.25s;
  opacity: 0;
  animation-duration: .75s;
  animation-fill-mode: forwards;
  cursor: default;
  -webkit-user-drag: none;
  pointer-events: none;
  font-family: glegacyregular;
  font-size: 4rem;
}

.loading-btn,
.loading-btn::after {
  padding: 10px 50px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: transparent;
}

.loading-btn::after {
  --move1: inset(50% 50% 50% 50%);
  --move2: inset(31% 0 40% 0);
  --move3: inset(39% 0 15% 0);
  --move4: inset(45% 0 40% 0);
  --move5: inset(45% 0 6% 0);
  --move6: inset(14% 0 61% 0);
  clip-path: var(--move1);
  content: 'ENTER THE MATRIX';
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  display: block;
  padding: 0;
}

.loading-btn:hover::after {
  animation: glitch_4011 1s;
  animation-iteration-count: 3;
  text-shadow: 10 10px 10px black;
  animation-timing-function: steps(2, end);
  text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
  background-color: transparent;
  border: 3px solid rgb(0, 255, 213);
}

.loading-btn:hover {
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #E94BE8;
  font-family: hackedregular;
}

.loading-btn:hover {
  background-color: transparent;
  border: 1px solid rgb(0, 255, 213);
  box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
}

@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
    transform: translate(0px, -10px);
  }

  10% {
    clip-path: var(--move2);
    transform: translate(-10px, 10px);
  }

  20% {
    clip-path: var(--move3);
    transform: translate(10px, 0px);
  }

  30% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }

  40% {
    clip-path: var(--move5);
    transform: translate(10px, -10px);
  }

  50% {
    clip-path: var(--move6);
    transform: translate(-10px, 10px);
  }

  60% {
    clip-path: var(--move1);
    transform: translate(10px, -10px);
  }

  70% {
    clip-path: var(--move3);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--move2);
    transform: translate(10px, -10px);
  }

  90% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }

  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}



@keyframes btnShow {
  from {
    opacity: 0;
    cursor: default;
    pointer-events: none
  }

  to {
    opacity: 1;
    cursor: pointer;
    pointer-events: all;
  }
}